*{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: #00BFA6;
}

/*nav*/
nav{
    margin-top: 0;
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-color: #000000;
}
nav h1,li span{
    color: #1A8CFF;
}


/* main */

h2{
    text-align: center;
    margin: 5rem auto 3.5rem auto;
}
section{
    margin: 2rem auto 1rem auto;
}
section div{
    width: 80%;
    margin: 1rem auto auto;
    background-color: #ffffff;
    padding: 1.5rem;
    border-radius: 3px;
}

section div > p {
    margin-top: 1em;
}
section div > p:nth-child(2) {
    text-align: justify;
}
section div > p:nth-child(3) {
    font-size: 9pt;
    text-align: right;
}

/*bolas*/
.bola{
    background-color: #1a8cff4d;
    border-radius: 50%;
    position: absolute;
    z-index: -1;
}
.bola1{
    width: 21rem;
    height: 21rem;
    top: 17.2rem;
    left: 0;
    
}
.bola2{
    width: 31rem;
    height: 31rem;
    top: 31rem;
    right: 0;
}
/*paginação*/
#paginacao{
    width: 100%;
}
.paginacao{
    margin: 1rem;
    display: flex;
    flex-flow: row wrap;
    gap: 0.5rem;
}
.paginacao span{
    padding: 0.5em 0.7em;
    background-color: #ffffff;
    border-radius: 0.2em;
}
.paginacao span:hover{
    background-color: #2F4858;
    color: #fff;
}
.paginacao a{
    text-decoration: none;
    color: #000;
}

/*Responsividade*/
@media screen and (max-width:404px) {
    .paginacao{
        gap: 1rem;
    }
}

/*footer*/

footer{
    text-align: center;
    background-color: #1A8CFF;
    padding: 1em ;
    color: #ffffff;
    
}
footer a {
    color: #ffffff;
}


/*Responsividade*/
@media screen and (max-width:425px) {
    .bola1{
        width: 18rem;
        height: 18rem;
        top: 17.2rem;
        left: 0;
        
    }
    .bola2{
        width: 25rem;
        height: 25rem;
        top: 40rem;
        right: 0;
    }
}


/*Responsividade do Menu*/

.menu_btn{
    display: none;
    width: 30px;
    height: 30px;
    margin: auto 1rem auto auto;
    cursor: pointer;
    
}
.fechar_menu_btn{
    display: none;
    position: fixed;
    cursor: pointer;
    margin: 1em;
    top: 0;
    right: 0;
    z-index: 1;
}
@media screen and (max-width:808px) {
    .menu_btn{
        display: block;
   
    }
    nav ul {
        display: none;
        /*display: flex;*/
        flex-direction: column;
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0px;
        left: 0px;
        right: 0px;
        bottom: 0px;
        z-index: 1;
        margin: 0;

        background-color: #000000;
    }
    nav ul li:first-of-type {
        margin-top: 10rem;
    }
    nav ul li{
        margin-bottom: 1rem;
        padding: 1em;
        border-radius: 0.5em;
    }
    nav ul li:hover, nav ul li span:hover{
        background-color: #00BFA6;
        color: #ffffff;
        transition: 500ms;
    }

    /*botão para fechar menu*/
    .fechar_menu_btn{
        display: none;
        position: absolute;
        cursor: pointer;
        margin: 1em;
        right: 0;
    }
}
