*{  
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.close{
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    margin: 02%;
}

h1{
    text-align: center;
    margin: 5% auto 1% auto;
}
.paragrafo1 {
    font-size: larger;
    font-weight: bold;
}

form {  
    margin-top: 0.5rem;
    display: flex;
    flex-direction: column;
}
input, select{
    margin-bottom: 1em;
    border: 2px solid #00bfa68f;
    padding: 0.2rem ;
    border-radius: 2px;
    outline: none;
}
input:focus{
    border-color: #00BFA6;
}

input[type=tel],select{
    max-width: fit-content;
    
}
input[type=email]{
 max-width: 80%;
}
select{
    width: 8rem;
    border-style: none;
}
input[type=text]:first-of-type{
    width: 60%;
    -webkit-transition: width .60s ease-in-out;
    transition: width .60s ease-in-out;
}
input[type=text]:first-of-type:focus{
    width: 100%;
}
#localidade{
    width: 30%;
    -webkit-transition: width .55s ease-in-out;
    transition: width .55s ease-in-out;
}
#localidade:focus{
    width: 70%;
}
form button{
    width: 10rem;
    border-style: none;
    background-color: #00BFA6;
    padding: 0.5em;
    margin-top: 2rem;
    font-weight: bold;
}
.seus_produtos{
    font-weight: bold;
    text-align: center;
    color: #00BFA6;
    margin-top: 1rem;
}
/*.carrinho_produto{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    border: 2px solid;
    margin: 1rem auto 1rem 0;
}*/

table tbody tr, table th{
    text-align: left;
}
table tbody tr td:nth-child(3), table th:nth-child(3){
    text-align: center;
}
table tbody tr td:last-of-type{
    text-align: center;
}
tr:nth-child(even) {
    background-color: rgba(0, 191, 166, 0.15);
}
table tbody td{
    padding: 0.5rem;
}

.fa-xmark{
    cursor: pointer;
    background-color: #00BFA6;
    padding: 0.3rem;
    transition: background-color 0.5s;
}
.fa-xmark:hover{
    background-color: rgba(234, 75, 70, 0.7);
    color: #fff;
}
#div_total_compras{
    font-weight: bold;

    margin-top: 2rem;
}

button[type='submit']{
    cursor: pointer;
}

#dados, .forma_entrega{
    width: 40%;
    margin: 5%;
}
#dados{
    float: left;
}
.forma_entrega{
    float: right;
    text-align: justify;
}
ul li{
    font-weight: 600;
    margin: 1em auto 2rem auto;
}
/* added to cart message*/
#Mensagens{
    position: fixed;
    bottom: 1.5rem;
    left: 1.5rem;
}
.added_carrinho_message{
    position: fixed;
    bottom: 1.5rem;
    left: 1.5rem;
    background-color: #2F4858;
    font-weight: bold;
    color: #fff;
    padding: 1rem 0.5rem;
    /*animação*/
    animation-name: adicionado;
    animation-duration: 4s;  
    animation-delay: 1s;
    animation-fill-mode: forwards;
}
@keyframes adicionado {
    from {bottom: 1.5rem;}
    to {bottom: 10rem;}

    0%   {opacity: 0;}
    1%, 9%  {opacity: 1;}
    91%, 99%  {opacity: 0.8;}
    100% {opacity: 0;}
  }

.paragrafo2{
    max-width: 70%;
    font-size: 10pt;
    margin-top: 2rem;
    float: right;
}

.bola{
    
    border-radius: 50%;
    position: absolute;
    z-index: -1;
}
.bola11{
    background-color: rgba(26, 140, 255, 0.1);
    width: 200px;
    height: 200px;
    top: 0;
}
.bola12{
    background-color: rgba(0, 191, 166, 0.15);
    width: 350px;
    height: 350px;
    bottom: 0;
    right: 0;
}


@media screen and (max-width:530px) {
    h1{
        margin: 15% auto 1% auto;
    }
    #dados, .forma_entrega{
        width: 90%;
        margin: 5%;
    }
    form input, select{
        margin-bottom: 1em;
    }
    input[type=tel]{
        width: 35%;
    }

}