

/*nav*/
nav{
    width: 100%;
    display: flex;
    margin: 2% auto auto auto;
}
nav h1{
    margin-left: 5%;
    color: #25d78c;
    font-size: 22pt;
}

ul{
    /*margin: auto auto auto 5%;*/
    margin-left: 5%;
    display: flex;
    align-items: center;
    text-align: center;
    text-decoration: none;
    padding-inline-start: 0px;

    gap: 1rem;
}
ul li{
    list-style: none;
    /*margin-right: 5%;*/
    padding: 0.2rem 1rem;
    transition: background-color 0.5s;
    
}
ul li:hover{
    background-color: #2F4858;
    padding: 0.2rem 1rem;
    border-radius: 1px;
}
ul li a{
    text-decoration: none;
    color: #fff;
}
li span{
    color: #25d78c;
    font-weight: bold;
}

.entrar{
    padding: 0.2rem 1rem;
    background-color: #2F4858;
    border-radius: 15px;
}
.entrar:hover{
    padding: 0.2rem 1rem;
    background-color: #25d78c;
    border-radius: 15px;
}

.menu_btn{
    display: none;
    width: 30px;
    height: 30px;
    margin: auto 1rem auto auto;
    cursor: pointer;
    
}
.fechar_menu_btn{
    display: none;
    position: fixed;
    cursor: pointer;
    margin: 1em;
    top: 0;
    right: 0;
    z-index: 1;
}
@media screen and (max-width:808px) {
    .menu_btn{
        display: block;
   
    }
    nav ul {
        display: none;
        /*display: flex;*/
        flex-direction: column;
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0px;
        left: 0px;
        right: 0px;
        bottom: 0px;
        z-index: 1;
        margin: 0;

        background-color: #1A8CFF;
    }
    nav ul li:first-of-type {
        margin-top: 10rem;
    }
    nav ul li{
        margin-bottom: 1rem;
    }/*
    nav ul li:hover, nav ul li span:hover{
        background-color: #00BFA6;
        color: #ffffff;
        transition: 500ms;
    }*/

    /*botão para fechar menu*/
    .fechar_menu_btn{
        display: none;
        position: absolute;
        cursor: pointer;
        margin: 1em;
        right: 0;
    }
}


