#barra_pesquisa{
    display: flex;
    justify-content: center;
    
}
input[type=search]{
    border-radius: 2px;
    border-style: none;
    padding: 5px;
    width: 30em;
}
.carrinho_de_compras{
    position: relative;
    margin-left: 3%;
}
.numero_itens{
    position: absolute;
    top: -6px;
    right: -4px;
    background-color: rgb(0, 191, 166);
    border-radius: 10px;
    padding: 3px 6px 1px;
    line-height: 1;
}
.texto3 {
    color: #ffffff;
    text-align: center;
    margin: 2rem 7%;
}
section{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    margin: 1em 2%;
}
.produto{
    width: 16rem;
    background-color: #ffffff;
    text-align: center;
}
.produto img{
    width: 100%;
    height: 12rem;
}
.produto > p:first-of-type{
    font-weight: bold;
}
.produto input{
    width: 50%;
    border-style: none;
    padding: 0.5em;
    text-align: center;
}
.produto input:focus {
    outline: none;
}
.produto button{
    width: 100%;
    background-color: rgb(0, 191, 166);
    border-style: none;
    cursor: pointer;
    padding: 0.5em;
    transition: background-color 1s;
}
.produto button:hover{
    background-color: rgb(0, 191, 166, 0.6);
}

/*paginação*/
#paginacao{
    width: 100%;
}
.paginacao{
    margin: 1rem;
}
.paginacao span{
    padding: 0.5em 0.7em;
    background-color: #ffffff;
    border-radius: 0.2em;
    margin-left: 0.5rem;
}
.paginacao span:hover{
    background-color: #1A8CFF;
    color: #ffffff;
}
.paginacao a{
    text-decoration: none;
    color: #000000;
}

/*Responsividade*/
@media screen and (max-width:930px) {
    
}

@media screen and (max-width:581px) {
    .produto {
        width: 13rem;
    }
}
@media screen and (max-width:510px) {
    .produto {
        width: 12rem;
    }
}
@media screen and (max-width:488px) {
    .produto {
        width: 15rem;
        margin-bottom: 2em;
    }
    #barra_pesquisa {
        display: flex;
        margin-left: 7%;
    }
    input[type=search]{
        width: 20em;
    }
}


@media screen and (max-width:375px) {
    input[type=search]{
        width: 15em;
    }
}
