#barra_pesquisa{
    display: flex;
    margin-left: 7%;
    
}
input[type=search]{
    border-radius: 2px;
    border-style: none;
    padding: 5px;
    width: 30em;
}
.carrinho_de_compras{
    position: relative;
    margin-left: 3%;
}
.numero_itens{
    position: absolute;
    top: -6px;
    right: -4px;
    background-color: rgb(0, 191, 166);
    border-radius: 10px;
    padding: 3px 6px 1px;
    line-height: 1;
}
.texto3 {
    color: #ffffff;
    text-align: center;
    margin: 2rem 7%;
}
section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 1em 7%;
}
.produto{
    width: 15rem;
    margin: auto 1%;
    background-color: #ffffff;
    margin-bottom: 2em;
    text-align: center;
}
.produto img{
    width: 100%;
}
.produto input{
    width: 50%;
    border-style: none;
    padding: 0.5em;
    text-align: center;
}
.produto input:focus {
    outline: none;
}
.produto button{
    width: 100%;
    background-color: rgb(0, 191, 166);
    border-style: none;
    padding: 0.5em;
}

/*Responsividade*/

@media screen and (max-width:581px) {
    .produto {
        width: 13rem;
    }
}
@media screen and (max-width:510px) {
    .produto {
        width: 12rem;
    }
}
@media screen and (max-width:485px) {
    .produto {
        width: 10rem;
    }
    #barra_pesquisa {
        display: flex;
        margin-left: 7%;
    }
    input[type=search]{
        width: 25em;
    }
}
@media screen and (max-width:400px) {
    .produto {
        width: 15rem;
        margin: auto;
        margin-bottom: 2em;
    }
    input[type=search]{
        width: 20em;
    }
}

@media screen and (max-width:375px) {
    input[type=search]{
        width: 15em;
    }
}
