*{  
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: #1A8CFF;
}
/*entrar e regiatrar*/


/* main */
main{
    width: 100%;
    margin-top: 5em;
}

.texto1, .texto2{
    width: 45%;
    margin-bottom: 5%;
    text-align: center;
}
.texto1, .eye{
    float: left;
    clear: left;
    margin-left: 5%;
    color: #ffffff;
}
.texto2{
    float: right;
    color: #2F4858;
    font-weight: bold;
}
.texto2, article{
    margin-right: 5%;
}

.artigo{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 2rem;
    color: #fff;
 
}
.eye, article{
    width: 40%;
}
.eye{
    float: left;
    clear: left;
}
article{
    float: right;
    clear: right;
    text-align: justify;

    /*border-left: 2px solid #25d78c;
    padding: 2rem 1rem;*/

}
article h2{
    margin-bottom: 1em;
}
article p{
    margin-bottom: 1em;
}

#button{
    margin: 0% ;
    position: relative;
    text-align: center;
}



.dados_pessoais{
    margin: 5rem auto auto;
}
.dados_pessoais div{
    background-color: #ffffff;
    padding: 1%;
}
.dados > div:first-of-type{
    display: flex;
    flex-flow: wrap row;
    justify-content: space-evenly;
}
.dados > div:last-of-type{
    display: flex;
    flex-flow: wrap row;
    justify-content: center;
    gap: 1rem;
}

footer{
    text-align: center;
    background-color: #00BFA6;
    padding: 1em ;
    color: #ffffff;
    clear: both; 
}
footer a {
    color: #ffffff;
}
#button a {
    background-color: #25d78c;
    padding: 0.5em;
    border-radius: 3px;
    text-decoration: none;
    cursor: pointer;
}

/*Resposnsividade*/

@media screen and (max-width:720px) {
    .eye, article{
        width: 90%;
        margin: 1rem 5% 1rem 5%;
    }
    .eye{
        float: left;
        clear: left;
    }
    article{
        float: right;
        clear: right;
        text-align: justify;
    }
    article h2{
        margin-bottom: 1em;

    }
    .dados_pessoais div {
        width: 95%;
    }

    .texto1, .texto2{
        width: 95%;
        margin: auto auto 1rem auto;
        text-align: center;
        float: none;
    }
}
